<!DOCTYPE html>
<html>
<head>
	<title>CSC FirstDoc Store</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="/style/style.css" />
</head>
<body>
    <img class="newappIcon" src="images/csc_logo.png">
    <div>
        <h3>
            <span class="big darkBrown">W</span>elcome to <span class="big darkBrown">CSC Application Mobile Team Test</span>
        </h3>

        <h4>Please click the link below to download the app from csc</h4>
        <a href="#" id="firstDocDownload">FirstDoc Application</a>
    </div>    
    
    <div>
       <br> <br>
        Installation Instructions: <br>
        <b><u>iPhone</u></b>
        <ol>
            <li>After clicking the install button the app will install in the background. Go to home screen to launch the app.</li>
            <li>
            If you get the error that app is from untrusted developer then: <br>
            In iOS 9.1 and lower, go to Settings &#8594; General &#8594; Profiles &#8594; tap on Profile ìComputer Science Corporationî &#8594; tap on Trust button.<br>
            In iOS 9.2+, go to Settings &#8594; General &#8594; Device Management &#8594; tap on Profile ìComputer Science Corporationî &#8594; tap on Trust button.
           </li>
        </ol>
        
        <br>
        <b><u>Android</u></b>
        <ol>
            <li>
                After clicking the install button the app installation file will download in the background. Go to notifications and tap the downloaded installation file to begin installation.
            </li>
            <li>
                If you get the error that the install is blocked then go to Settings &#8594; Security &#8594; Unknown sources &#8594; Check Unknown Sources and tap on the installation again to install the app.
            </li>
        </ol>
    </div>
    
    <script type="text/javascript" src="scripts/detect.js"></script>
</body>
</html>
